
.readonlyField>div{
    border: 0;
    background: none !important;
}
.readonlyField>div>input{
    padding-left: 0 !important;
}
.readonlyField>select{
    padding-left: 0 !important;
}
* {
    outline: none !important;
}