/* Enter your custom styles here */

.exampleDiv {
    background-color: rgb(28, 117, 117);
    width: 100%;
    height: 50px;
}

.nestedFlexboxes .item1 {
	background-color: #d1dbbd;
}
.nestedFlexboxes .item2 {
	background-color: #7D8A2E;
}

.nestedFlexboxes h2 {
	color: #32363a;
}

.nestedFlexboxes .test-hbox > .sapMFlexItem {
    width: 100%;
}