/* Enter your custom styles here */
.hLayout {
    margin-top: 1.5rem;
    height: 11.5rem;
}

.RadialChart {
    width: 80rem;
}

.sapMNCValue.Neutral {
    color: #3f5161;
}

.sapMGTHdrContent {
    height: 3rem;
}
.sapUiFormResGridCont {
    padding-bottom: 0rem; 
}
.sapUiFormResLayout {
    padding: 0rem;
}