/* Enter your custom styles here */
/* .sapUiFormResGrid {
      width : 500px !important; 
     padding-bottom: 0px;
     padding-inline-end: 0px;
     padding-top: 0px;
     padding-block-end: 0px;
     color : blue !important;
}; */
.mText {
    font-weight: bold;
    font-size: 1.2rem;
}

.mInput{
    margin: 0 !important;
    padding: 0 !important;
}

.tText {
    text-align: left !important;
    padding-bottom: 0 !important;
    min-height: 2.4rem !important;
    font-size: 1.0em !important;
}

.dText {
    padding: 0 !important;
    margin: 0 0 1.2rem 0 !important;
    font-size: 0.85em !important;
    font-weight: normal !important;
    /* height: 2.4rem !important; */
    min-height: 0.85rem !important;
    /* display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

.sText {
    font-weight: bold;
}

.pinkBG {
    /* background-color: rgb(252, 221, 233); */
    background-color: #fff;
}

.leftM {
    margin-left: 0.4rem !important;
}

.topM {
    margin-top: 0.4rem !important;
}

.rbgButton {
    height: 2.0rem !important;
}

.imageC {
    size: 2.2rem !important;
    color : #333333;
}

.imageP {
    size : 1.6rem !important;
    color : #cccccc;
}




.rbgBG {
    padding: 1.5rem !important;
    margin-left: 0.4rem !important;
    border-top: 1px solid #a6a6a6 !important;
    width: 100% !important;
    background: #f2f2f2 !important;
}

.lhText {
    line-height: 1.0rem !important;
    font-size: 0.8rem !important;
}

.darkgrayBG {
    background-color: #f2f2f2;
}

.whiteBG {
    background-color:white;
}

.oMouseP{
    cursor: pointer;
}

.mouseP {
    /* background-color: white;  */
    cursor: pointer;
    
}
.mouseP:hover {
    background: rgb(240, 240, 240);
}

.mouseP:active {
    /* background-color: rgb(252, 221, 233); */
    background-color:  #f2f2f2;
    
}


